@using PagedList
@using PagedList.Mvc
@model IPagedList<windowsproje.Models.Kuponlar>


@{
    ViewBag.Title = "Kuponlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="color:black; font-family:'arial';">

    <b> Hoşgeldiniz  @Session["LoggedFullName"] </b>
    
        
    <br>
</h2>

@using (Html.BeginForm("Index", "AfterLogin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@Html.ActionLink("Logout", "Logout", "AfterLogin") <br /><br />
<p>@Html.ActionLink("Create New", "Create")</p>
<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<table class="table">
    <tr>
        <th>
            <h3>Kupon Adı  </h3>
        </th>
      
        <th>
            <h3>Kupon Resim  </h3>
        </th>
      
        <th>
            <h3>Kayıt Tarihi  </h3>
        </th>
       
        <th>
            <h3>Kategori Adı  </h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KuponAd)
        </td>
    

        @{
            if (item.KuponResim != null)
            {
                var base64 = Convert.ToBase64String(item.KuponResim);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);



        <td>
          
              
                    <img src='@imgSrc' style="display:block;" width="100" height="100" />
          
        
        </td>
            }
            else
            {
                <td>


                 
<img src="~/content/img/null.png"  style="display:block;" width="100"height="100"/>


                </td>
            }
        }
     
        <td>
            @Html.DisplayFor(modelItem => item.KayıtTarih)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.KatogoriAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KuponID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KuponID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KuponID })
        </td>
    </tr>
}

</table>
<br />

<div  class="pagedList" >
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>